body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: center;

    /* Background image full screen */
    background: url("/static/bg.png") no-repeat center center fixed;
    background-size: cover;
}

.game-container {
    margin-top: 30px;
}

canvas {
    background: rgba(144, 238, 144, 0.25); /* very light green grid bg */
    border: 2px solid #00ff00;
}

.title {
    color: white;
    margin-bottom: 10px;
}

.controls {
    margin-top: 10px;
    color: white;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
